<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/blog/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/static/blog/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/blog/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style>
        div{
            padding-top: 200px;
        }
    </style>
</head>
<body>
<div class="col-md-6 col-md-offset-3">
    <span class="h1 text-danger alert alert-danger center-block text-center">您访问的页面不存在!</span>
</div>
</body>
</html>