<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <!-- 标题 -->
    {% endblock %}
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/favicon.ico">
    <link href="/static/blog/home.css" rel="stylesheet">
    <link href="/static/blog/reset.css" rel="stylesheet">
    <link href="/static/blog/auth.css" rel="stylesheet">
    <link href="/static/blog/article.css" rel="stylesheet">
    <link href="/static/blog/fonts/fonts.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/blog/jquery/jquerysession.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/blog/auth.js"></script>
    <script src="/static/blog/article.js"></script>
    <script charset="utf-8" src="/static/blog/kindeditor/kindeditor-all-min.js"></script>
</head>
<body>
<div class="container">
    {% block body %}
        <!-- 页面主体 -->
    {% endblock %}
    <div class="go-top">
        <a href="#">Top</a>
    </div>
</div>
</body>
<script>
    console.log(`
博客园：https://www.cnblogs.com/xiangjianan/

微信：inMyLife2021

`);
</script>
</html>