<!-- 个人站点标题 -->
<a href="/{{ username }}/">
    <span class="h3 text-muted center-block text-center">{{ blog_site.title }}</span>
</a>
<!-- 操作栏 -->
<div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseOne">
                操作
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
        <div class="panel-body">
            <p>
                <a class="center-block small" href="/{{ username }}/article_manager/article_create/">发布新文章</a>
            </p>
            <p>
                <a class="center-block small" href="/{{ request.user.username }}/article_manager/">文章管理</a>
            </p>
        </div>
    </div>
</div>